<!DOCTYPE html>
  
<title>Todo List</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<style type="text/css">
  html {
    overflow-y: scroll;
  }
  body {
    padding-bottom: 50px;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgb(252, 221, 255);
    }
  .todoDiv {
      width: 600px;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 90%;
  }
  .jumboDiv {
      width: 850px;
      position: fixed;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .loginDiv {
      width: 600px;
      position: fixed;
      top: 60%;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .button-background {
    background-color: rgb(109, 174, 209);
    border-color: #8ABAD3FF;
  }
  </style>

<body>
  {% if user %}
  <header class="section">
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation" aria-label="main navigation">
          <a class="navbar-brand" href="/">
              <img style="width: 30px; height:30px" src="https://previews.123rf.com/images/veronawinner/veronawinner1804/veronawinner180400009/99138376-checklist-icon-in-flat-style-to-do-list-symbol-isolated-on-white-background-simple-abstract-check-li.jpg" srcset="https://previews.123rf.com/images/veronawinner/veronawinner1804/veronawinner180400009/99138376-checklist-icon-in-flat-style-to-do-list-symbol-isolated-on-white-background-simple-abstract-check-li.jpg" alt="logo" class="is-rounded">
              PyToDo
            </a>
  
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto"> 
            <li class="nav item"> 
            <a href="/about" class="nav-link"> About </a> 
          </li>
          <li class="nav item"> 
            <a href="/login" class="nav-link"> Sign Up </a> 
          </li>
        </ul>
          {% if user %}
              <a lass="btn btn-info" href="/logout">
                  Hello {{user}}, logout
              </a>
          {% else %}
              <a class="btn btn-info" href="/">
                  Return to Log in
              </a>
          {% endif %}
        </div>
      </nav>
    </div>
  </header>
{% endif %}

<div class="todoDiv">

{% if user %}
    <form method="POST" action="/createTask/">
      {% csrf_token %}
      <div class="card" style="margin-bottom: 20px"> 
        <div class="card-header"> New Task </div>
        <div class="card-body">
      <label class="card-title">Task name:</label>
      <br>
      <input class="input" name="taskBody" placeholder="Enter new task here..." />
      <br> 
      <label for="reminderDueDate">Task due date:</label>
      <input class="input" type="datetime-local" name="reminderDueDate" />
      <input class="btn btn-primary" type="submit" />
    </div>
    </div>
    </form>
{% endif %}

<section class="content tiles">
    <div class="container">
        <div class="rows">
          {% if user %}
            <!-- each of this is a box -->
            {% for reminder in reminders %}
              <div class="row">
                  <div class="card" style="width: 600px; margin-bottom: 20px">
                    <div class="card-header"> To-do </div>
                    <div class="card-body"> 
                      <h5 class="card-title">{{ reminder.0.body }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Due date: {{ reminder.0.dueTimeStamp }}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">Time left to complete task: {{ reminder.1 }}</h6>
                      <a class="btn btn-primary" href="{% url 'deleteTask' reminderId=reminder.0.reminderId %}">
                        Mark as complete
                    </a>
                    </div>
                    </div>
                  <br>
              </div>
            {% empty %}
            <div class="card"> 
              <div class="card-body">
                There are no more to-dos! Hooray! Unless..you want to add one?
              </div>
            </div>
            {% endfor %}
          {% else %}
          <div class="jumboDiv">
          <div class="jumbotron" style="background-color: #FFFFFF">
            <div class="row" style="width: 900px">
              <div class="span4" style="width: 800px">
            <img style="width: 100px; height: 100px; float: left;" src="https://previews.123rf.com/images/veronawinner/veronawinner1804/veronawinner180400009/99138376-checklist-icon-in-flat-style-to-do-list-symbol-isolated-on-white-background-simple-abstract-check-li.jpg" srcset="https://previews.123rf.com/images/veronawinner/veronawinner1804/veronawinner180400009/99138376-checklist-icon-in-flat-style-to-do-list-symbol-isolated-on-white-background-simple-abstract-check-li.jpg" alt="logo" class="is-rounded">
            <h1 class="display-4" style="text-size-adjust: 100px">Welcome to PyToDo</h1> 
          </div> 
          </div>
        </div>
      </div>
          <div class="loginDiv"> 
          <h2 class="title"">Enter your credentials or sign up below! </h2>
          <form method="POST" action="/login/">
              {% csrf_token %}
              <div class="form-group" style="margin-bottom: 15px">
                <label for="username">Username</label>
                <input name="username" size="20" class="form-control" placeholder="Enter username">
              </div>
              <div class="form-group" style="margin-bottom: 30px">
                <label for="password">Password</label>
                <input name="password" size="20" class="form-control" placeholder="Enter password" type="password">
              </div>
                <input type="submit" name="xyz" value="Log In" class="btn btn-lg btn-info button-background btn-block" style="margin-bottom: 20px">
                <a class="btn btn-lg btn-primary button-background btn-block" href="/login" role="button">Sign Up</a>
          </form>
        </div>
          {% endif %}  
                

        </div>
    </div>
</section>

{% if user %}
<section class="suggestion">
  <div class="card text-center">
    <div class="card-header"> Having trouble deciding where to start? Let us pick. </div>
    <div class="card-body">
    <a class="btn btn-primary" href="{% url 'chooseRandom'%}" style="align-items: center;">
      Get Suggestion
    </a>
    <div style="margin-bottom: 10px;"> </div>
  <h5 style="text-align: center;">You should complete: {{suggestion}}</h5>
</div>
  </div>

</section>
{% endif %}

  </div>

    </body>
</html>