<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# fb: http://ogp.me/ns/fb#" class="hydrated"><head>
  
<title>Todo List</title>

<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffe6e6">

<link href="https://klimchuk.com/css/theme.min.bd3d534728a556545c3ae69c25e188f2cf6d7bd92afad324ae9383f7ed23cb2f.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style type="text/css">
  body {
    padding-top: 20px;
    padding-bottom: 40px;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgb(252, 221, 255);
    }
  .firstDiv {
      width: 550px;
      position: fixed;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .button-background {
    background-color: #8ABAD3FF;
    border-color: #8ABAD3FF;
  }
  </style>

<body>
  <header class="section">
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation" style="height: 70px;">
      <div class="navbar-brand">
        <a class="navbar-item" href="/" style="margin-top: 15px;">
          <figure class="image is-64x64 is-square is-hidden-touch">
            <img src="https://previews.123rf.com/images/veronawinner/veronawinner1804/veronawinner180400009/99138376-checklist-icon-in-flat-style-to-do-list-symbol-isolated-on-white-background-simple-abstract-check-li.jpg" srcset="https://previews.123rf.com/images/veronawinner/veronawinner1804/veronawinner180400009/99138376-checklist-icon-in-flat-style-to-do-list-symbol-isolated-on-white-background-simple-abstract-check-li.jpg" alt="logo" class="is-rounded">
          </figure>
        </a>
      </div>

      <div id="navigation" class="navbar-menu">
        <div class="navbar-start">
          
          <a href="/" class="navbar-item">
            <span class="navbar-item-name">Todo List</span>
          </a>

          <a href="/" class="navbar-item">
            <span class="navbar-item-name">About</span>
          </a>
          
        </div>

        <div class="navbar-end" style="margin-right: 20px">
          <div class="navbar-item">
            
            {% if user %}
                <div class="buttons">
                <a class="button" href="/logout">
                    <strong>Hello {{user}}, logout</strong>
                </a>
                </div>
            {% else %}
                <a class="btn btn-info" href="/">
                    <strong>Return to Log in</strong>
                </a>
            {% endif %}
            
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<div class="main section">

    <div class="firstDiv">
        <h1 class="title" style="text-align:center; margin-bottom: 25px"> Join Our Service Today!</h1>
        <form method="POST" action="/signup/">
            {% csrf_token %}
            <div class="form-group" style="margin-bottom: 15px">
            <label for="username">Username</label>
            <input name="username" size="20" class="form-control" placeholder="Enter username">
            <small id="emailHelp" class="form-text text-muted">Choose something that represents you</small>
          </div>
          <div class="form-group" style="margin-bottom: 15px">
            <label for="email">Email</label>
            <input name="email" size="20" class="form-control" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Don't worry, we won't send any spams</small>
          </div>
          <div class="form-group" style="margin-bottom: 15px">
            <label for="username">Password</label>
            <input name="username" size="20" class="form-control" placeholder="Enter password">
            <small id="emailHelp" class="form-text text-muted">We recommend at least 12 characters with special characters</small>
          </div>
            <input type="submit" name="xyz" value="Sign Up" class="btn btn-lg btn-primary button-background btn-block" style="margin-bottom: 25px">
        </form>
  </div>
</div>

    </body>
</html>