<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# fb: http://ogp.me/ns/fb#" class="hydrated"><head>
  
<title>Todo List</title>

<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link href="https://klimchuk.com/css/theme.min.bd3d534728a556545c3ae69c25e188f2cf6d7bd92afad324ae9383f7ed23cb2f.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style type="text/css">
  body {
    padding-top: 15px;
    padding-bottom: 30px;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgb(252, 221, 255);
    }
  .loginDiv {
      width: 600px;
      position: fixed;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .jumboDiv {
      width: 850px;
      position: fixed;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .button-background {
    background-color: #8ABAD3FF;
    border-color: #8ABAD3FF;
  }
  </style>

<body>
  {% if user %}
  <header class="section">
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation" style="height: 70px;">
      <div class="navbar-brand">
        <a class="navbar-item" href="/" style="margin-top: 15px;">
          <figure class="image is-64x64 is-square is-hidden-touch">
            <img src="https://previews.123rf.com/images/veronawinner/veronawinner1804/veronawinner180400009/99138376-checklist-icon-in-flat-style-to-do-list-symbol-isolated-on-white-background-simple-abstract-check-li.jpg" srcset="https://previews.123rf.com/images/veronawinner/veronawinner1804/veronawinner180400009/99138376-checklist-icon-in-flat-style-to-do-list-symbol-isolated-on-white-background-simple-abstract-check-li.jpg" alt="logo" class="is-rounded">
          </figure>
        </a>
      </div>

      <div id="navigation" class="navbar-menu">
        <div class="navbar-start">
          
          <a href="/" class="navbar-item">
            <span class="navbar-item-name">Todo List</span>
          </a>

          <a href="/" class="navbar-item">
            <span class="navbar-item-name">About</span>
          </a>
          
        </div>

        <div class="navbar-end" style="margin-right: 20px">
          <div class="navbar-item">
            
            {% if user %}
                <a class="btn btn-info" href="/logout">
                    <strong>Hello {{user}}, logout</strong>
                </a>
            {% else %}
                <a class="btn btn-info" href="/login">
                    <strong>Sign up</strong>
                </a>
            {% endif %}
            
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
{% endif %}

<div class="main section">

{% if user %}
  <div class="field">
    <form method="POST" action="/createTask/">
      {% csrf_token %}
      <label for="taskBody">Task name:</label>
      <input class="input" name="taskBody" placeholder="Enter new task here..." />
      <label for="reminderDueDate">Task due date:</label>
      <input class="input" type="datetime-local" name="reminderDueDate" />
      <input class="button is-primary" type="submit" />
    </form>
  </div>
{% endif %}

<section class="content tiles">
    <div class="container">
        <div class="rows">
          {% if user %}
            <!-- each of this is a box -->
            {% for reminder in reminders %}
              <div class="row">
                  <div class="box social">
                      <div class="buttons">
                        <a class="button" href="{% url 'deleteTask' reminderId=reminder.0.reminderId %}">
                            <strong>Mark as complete</strong>
                        </a>
                      </div>
                      <p class="title is-2">{{ reminder.0.body }}</p>
                      <p class="subtitle is-4 is-marginless">Due date: {{ reminder.0.dueTimeStamp }}</p>
                      <p class="subtitle is-4 is-marginless">Time left to complete task: {{ reminder.1 }}</p>
                    </div>
                  <br>
              </div>
            {% empty %}
              No reminder items! 
            {% endfor %}
          {% else %}
          <div class="jumboDiv">
          <div class="jumbotron" style="background-color: #FFFFFF; width: 850px">
            <div style="padding-bottom: 20px;"> 
            <img style="margin-bottom: 40px; width: 100px; height: 100px; float: left;" src="https://previews.123rf.com/images/veronawinner/veronawinner1804/veronawinner180400009/99138376-checklist-icon-in-flat-style-to-do-list-symbol-isolated-on-white-background-simple-abstract-check-li.jpg" srcset="https://previews.123rf.com/images/veronawinner/veronawinner1804/veronawinner180400009/99138376-checklist-icon-in-flat-style-to-do-list-symbol-isolated-on-white-background-simple-abstract-check-li.jpg" alt="logo" class="is-rounded">
            <h1 class="display-4">Welcome to PyToDo</h1> 
          </div>
        </div>
      </div>
          <div class="loginDiv"> 
          <h1 class="title"">Enter your credentials or sign up below! </h1>
          <form method="POST" action="/login/">
              {% csrf_token %}
              <div class="form-group" style="margin-bottom: 15px">
                <label for="username">Username</label>
                <input name="username" size="20" class="form-control" placeholder="Enter username">
              </div>
              <div class="form-group" style="margin-bottom: 15px">
                <label for="password">Password</label>
                <input name="password" size="20" class="form-control" placeholder="Enter password" type="password">
              </div>
                <input type="submit" name="xyz" value="Log In" class="btn btn-lg btn-primary button-background btn-block" style="margin-bottom: 20px">
                <a class="btn btn-lg btn-primary button-background btn-block" href="/login" role="button">Sign Up</a>
          </form>
        </div>
          {% endif %}  
                

        </div>
    </div>
</section>

{% if user %}
<section class="suggestion">
  <div>
    <p>Having trouble deciding where to start? Let us pick.</p>
    <a class="button" href="{% url 'chooseRandom'%}">
      <strong>Get Suggestion</strong>
    </a>
  <p>{{suggestion}}</p>
  </div>

</section>
{% endif %}

  </div>

    </body>
</html>