<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# fb: http://ogp.me/ns/fb#" class="hydrated"><head>
  
<title>Todo List</title>

<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link href="https://klimchuk.com/css/theme.min.bd3d534728a556545c3ae69c25e188f2cf6d7bd92afad324ae9383f7ed23cb2f.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />

<body>
  <header class="section">
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <figure class="image is-64x64 is-square is-hidden-touch">
            <img src="https://previews.123rf.com/images/veronawinner/veronawinner1804/veronawinner180400009/99138376-checklist-icon-in-flat-style-to-do-list-symbol-isolated-on-white-background-simple-abstract-check-li.jpg" srcset="https://previews.123rf.com/images/veronawinner/veronawinner1804/veronawinner180400009/99138376-checklist-icon-in-flat-style-to-do-list-symbol-isolated-on-white-background-simple-abstract-check-li.jpg" alt="logo" class="is-rounded">
          </figure>
        </a>
      </div>

      <div id="navigation" class="navbar-menu">
        <div class="navbar-start">
          
          <a href="/" class="navbar-item">
            <span class="navbar-item-name">Todo List</span>
          </a>

          <a href="/" class="navbar-item">
            <span class="navbar-item-name">About</span>
          </a>
          
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            
            {% if user %}
                <div class="buttons">
                <a class="button" href="/logout">
                    <strong>Hello {{user}}, logout</strong>
                </a>
                </div>
            {% else %}
                <div class="buttons">
                <a class="button" href="/login">
                    <strong>Sign up or Log in</strong>
                </a>
                </div>
            {% endif %}
            
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<div class="main section">
      
<section class="content intro">
    <div class="container">
        <div class="about">
            <p><strong>Todo List</strong></p>
        </div>
    </div>
</section>
<section class="recent">
    <div class="container">

    </div>
</section>

{% if user %}
  <div class="field">
    <form method="POST" action="/createTask/">
      {% csrf_token %}
      <label for="taskBody">Task name:</label>
      <input class="input" name="taskBody" placeholder="Enter new task here..." />
      <label for="reminderDueDate">Task due date:</label>
      <input class="input" type="datetime-local" name="reminderDueDate" />
      <input class="button is-primary" type="submit" />
    </form>
  </div>
{% endif %}

<section class="content tiles">
    <div class="container">
        <div class="rows">
          {% if user %}
            <!-- each of this is a box -->
            {% for reminder in reminders %}
              <div class="row">
                  <div class="box social">
                      <div class="buttons">
                        <a class="button" href="{% url 'deleteTask' reminderId=reminder.reminderId %}">
                            <strong>Mark as complete</strong>
                        </a>
                      </div>
                      <p class="title is-2">{{ reminder.body }}</p>
                      <p class="subtitle is-4 is-marginless">Due date: {{ reminder.dueTimeStamp }}</p>
                    </div>
                  <br>
              </div>
            {% empty %}
              No reminder items! 
            {% endfor %}
          {% else %}
            Log in to see reminder items!
          {% endif %}  
                

        </div>
    </div>
</section>

  </div>

    </body>
</html>